html{
    font-size: 20px;
}

/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

.socialbutton{
    border: 1px solid #3c3c3c;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../Icons/facebook1.png");
    background-repeat: no-repeat;
    background-size: 100%;
}